@use "sass:color";

$colors: (primary, #4287f5), (secondary, #3a128a), (accent, #f59c42);

@if (1 < 2) {
  body {
    color: blue;
  }
}

@each $name, $color in $colors {
  .clr-#{$name} {
    background: $color;

    @debug "name: #{$name}, color lightness : #{color.lightness($color)}";
    @if (color.lightness($color) < 50%) {
      // if color lightness less than 50%.
      // set color to white
      color: white;
    } @else {
      color: black;
    }
  }
}

// This mixin could be handy, but it has one big limitation: it always sets the border on all 4 sides!
@mixin border($side: all, $color: #dedede, $width: 1px, $style: solid) {
  @if ($side == "all") {
    border: $color $width $style;
  } @else {
    border-#{$side}: $color $width $style;
  }
}

// will set the border on all 4 sides
.tag {
  @include border();
}

// will set the border only on the bottom
.call-to-action {
  @include border(bottom);
}
