@use "sass:color";

$colors: (primary, #4287f5), (secondary, #3a128a), (accent, #f59c42);

@if (1 < 2) {
  body {
    color: blue;
  }
}

@each $name, $color in $colors {
  .clr-#{$name} {
    background: $color;

    @debug "name: #{$name}, color lightness : #{color.lightness($color)}";

    // if color lightness less than 50%.
    // set color to white
    color: if(color.lightness($color) < 50%, white, black);
  }
}

// This mixin use case with if and else for setting side
@mixin border($side: all, $color: #dedede, $width: 1px, $style: solid) {
  @if ($side == "all") {
    border: $color $width $style;
  } @else {
    border-#{$side}: $color $width $style;
  }
}

// will set the border on all 4 sides
.tag {
  @include border($color: blue);
}

// will set the border only on the bottom
.call-to-action {
  @include border($side: bottom, $width: 5px);
}

// Uppercase mini challege
@mixin uppercase($font-size: 1rem, $text-transform: uppercase) {
  text-transform: $text-transform;

  @if ($font-size < 2rem) {
    line-height: 1.3;
  } @else if($font-size >= 2rem and $font-size < 3rem) {
    line-height: 1.2;
  } @else if ($font-size >=3rem and $font-size < 5rem) {
    line-height: 1.1;
  } @else {
    line-height: 1;
  }
}

.section-title {
  @include uppercase(2.23rem);
}

small {
  @include uppercase(0.875rem);
}

h1 {
  @include uppercase(6rem);
}

h2 {
  @include uppercase(4rem);
}

@mixin ui-component(
  $size,
  $color,
  $bg,
  $hover-color: $color,
  $hover-bg: $bg,
  $hover: true
) {
  display: inline-block;
  padding: $size ($size * 3);
  color: $color;
  background-color: $bg;
  @if $hover {
    &:hover,
    &:focus {
      color: $hover-color;
      background-color: $hover-bg;
    }
  }
}

.button {
  @include ui-component(1em, white, black, black, white);
}

.testabc {
  @include ui-component(1px, red, blue, $hover: false);
}
