@use "sass:color";

$clr-light-blue: color.scale(blue, $lightness: 88%);
$clr-dark-blue: color.scale(blue, $lightness: -45%);

$total-columns: 12;

$clr-flame: rgb(245, 79, 79);
$num-of-steps: 10;

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat($total-columns, 1fr);
}

.col,
[class*="col-"] {
  padding: 0.5rem;
  background: $clr-light-blue;
  border: 1px solid $clr-dark-blue;
  text-align: center;
  font-weight: 800;
}

[class*="col-"] {
  grid-column: 1 / -1;
}

@for $col-count from 1 through $total-columns {
  .col-#{$col-count} {
    grid-column: span $col-count;
  }

  @media (min-width: 30em) {
    .col-sm-#{$col-count} {
      grid-column: span $col-count;
    }
  }

  @media (min-width: 45em) {
    .col-md-#{$col-count} {
      grid-column: span $col-count;
    }
  }

  @media (min-width: 65em) {
    .col-lg-#{$col-count} {
      grid-column: span $col-count;
    }
  }
}

// my flame color from light to dark
@for $i from 0 to $num-of-steps {
  .my-flame-#{$i + 1} {
    color: color.scale($clr-flame, $lightness: $i * -10%);
  }
}

// each loop example
@each $color in red, blue, green {
  .clr-#{$color} {
    color: $color;
  }
}

// @for Challege -- start
$clr-primary: #2553db;
$clr-steps: 10;

@for $i from 0 through $clr-steps - 1 {
  .clr-primary-#{$i + 1} {
    color: color.scale($clr-primary, $lightness: 10% * $i);
  }
}
// @for Challege -- end

// @each Challege -- start
$icons: mail, twitter, github;

.icon {
  width: 1.5rem;
  aspect-ratio: 1;
  background-size: contain;

  @each $i in $icons {
    &--#{$i} {
      background-image: url("/images/#{$i}.svg");
    }
  }
}
// @each Challege -- end
