@use "sass:meta";
@use "sass:map";

// Don't forget quotation on keys
// dont forget comma at the end
$colors: (
  "primary": red,
  "secondary": blue,
  "accent": yellow,
  "special": orange,
);

$font-size-map: (
  "large": 48px,
  "normal": 16px,
  "small": 11px,
);

@debug "type of $colors is #{meta.type-of($colors)}!";
@debug 'primary value is #{map.get($colors, "primary")}!';
@debug 'special value is #{map.get($colors, "special")}!';

body {
  color: map.get($colors, "secondary");
  font-size: map.get($font-size-map, "small");
}
