%hardcore {
  font-weight: 900;
  font-size: 3rem;
}

.title {
  color: limegreen;
  @extend %hardcore;
}

.link {
  color: #23fe2f;
  &:hover,
  &:focus {
    color: #ef233f;
  }
}

.cta .link {
  font-weight: bold;
}

nav a {
  @extend .link;
  text-transform: uppercase;
}

@mixin mini-text($fw: 100, $fs: 0.75em) {
  text-transform: lowercase;
  font-weight: $fw;
  font-size: $fs;
}

.tiny {
  color: burlywood;
  @include mini-text($fs: 2rem);
}
