// For playing around sass build in color module
@use "sass:color";

$clr-accent: #23ef91;

$clr-primary: #234;
$clr-neutral-100: rgb(231, 231, 222);

.bg-accent {
  background-color: $clr-accent;
}

.bg-accent-light {
  background-color: color.scale($clr-accent, $lightness: 50%);
}

.bg-accent-dark {
  background-color: color.scale($clr-accent, $lightness: -50%);
}

.grayscaled {
  color: color.grayscale($clr-neutral-100);
  background: color.grayscale($clr-primary);
}

.mix-them-up {
  color: color.mix($clr-accent, $clr-primary, 10%);
}
