// style.scss - this comment won't appear in css

.primary-article {
  padding: 3rem 1rem;

  & .title {
    font-size: 5rem;
    & span {
      color: red;
    }
  }
}

.pointing-list {
  margin: 2rem 0;

  & li {
    padding-left: 0.5rem;

    &::marker {
      content: "👉";
    }
  }
}

body {
  margin: 4rem;
  font-size: 1.25rem;
  font-family: system-ui, sans-serif;
  // text-align: center;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  border: 0;
  text: {
    decoration: none;
    transform: uppercase;
  }

  &__primary {
    background: #3f637d;

    &:hover,
    &:focus {
      background: #2b4355;
    }
  }

  &__secondary {
    background: #4c4171;

    &:hover,
    &:focus {
      background: #2b2541;
    }
  }

  &__accent {
    background: #efca5d;

    &:hover,
    &:focus {
      background: #d1a215;
    }
  }
}

p {
  max-width: 60ch;
  border: 1px solid green;

  .text-centered & {
    margin-inline: auto;
  }
}

.text-centered {
  text-align: center;
}
