// style.scss - this comment won't appear in css

$red: rgba(197, 18, 18, 0.74);
$clr-primary-text: $red;

$green: rgba(83, 218, 83, 0.973);
$clr-border: $green;

.primary-article {
  padding: 3rem 1rem;

  & .title {
    font-size: 5rem;
    & span {
      color: $clr-primary-text;
    }
  }
}

.pointing-list {
  margin: 2rem 0;

  & li {
    padding-left: 0.5rem;

    &::marker {
      content: "👉";
    }
  }
}

body {
  margin: 4rem;
  font-size: 1.25rem;
  font-family: system-ui, sans-serif;
  // text-align: center;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  border: 0;
  text: {
    decoration: none;
    transform: uppercase;
  }

  &__primary {
    background: #3f637d;

    &:hover,
    &:focus {
      background: #2b4355;
    }
  }

  &__secondary {
    background: #4c4171;

    &:hover,
    &:focus {
      background: #2b2541;
    }
  }

  &__accent {
    background: #efca5d;

    &:hover,
    &:focus {
      background: #d1a215;
    }
  }
}

p {
  max-width: 60ch;
  border: 1px solid $clr-border;

  .text-centered & {
    margin-inline: auto;
  }

  @media (min-width: 60rem) {
    max-width: 80ch;
  }
}

.text-centered {
  text-align: center;
}

:root {
  --clr-primary: limegreen;
}

$clr-primary: limegreen;

.custom-prop {
  --clr-secondary: hotpink;
}

.sass-var {
  $clr-seondary: hotpink;
}

.title {
  color: $clr-primary;
}

.another-title {
  color: var(--clr-primary);
  --clr-primary: brown;
}
