// Difference between extends and mixins

%extend-bold-text {
  font-weight: bold;
}

@mixin mixin-uppercase-text {
  text-transform: uppercase;
}

.accent-text {
  font-size: 1.175rem;
  @extend %extend-bold-text;
  @include mixin-uppercase-text();
}

.in-your-face-text {
  font-size: 4rem;
  @extend %extend-bold-text;
  @include mixin-uppercase-text();
}

// mixns argument example

@mixin button($bg, $color) {
  background: $bg;
  color: $color;
}

.btn--accent {
  @include button(limegreen, black);
}

.btn--inverted {
  @include button(#000, limegreen);
}

// You can change the order of matching argument
.btn--haha {
  @include button($color: red, $bg: brown);
}

// default value for argument
@mixin linear-gradient($deg: -45deg, $clr-1: red, $clr-2: blue) {
  background-image: linear-gradient($deg, $clr-1, $clr-2);
}

.hero {
  padding: max(10vh, 5rem);
  @include linear-gradient;
}

.call-to-action {
  @include linear-gradient($clr-2: yellow);
}
