// Using * to avoid namespace
@use "./variables" as *;
@use "./old_site/contianer";
// default namespace is file name
@use "./mixins/mixins";

h4 {
  background-color: $red;
  color: $blue;
  font-size: $fs-600;
}

.card {
  font-size: 12px;

  @include mixins.media-query(mixins.$medium) {
    font-size: 18px;
  }
}
