// This comment will not show in css file!
// Primary color
$clr-primary: pink;

body {
  background: $clr-primary;
}

.primary-color {
  background: $clr-primary;
}

a {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

/* This comment will show in css file */
