@mixin part-1-gradients($clr1: white, $clr2: black, $deg: 30deg) {
  background-image: linear-gradient($deg, $clr1, $clr2);
}

@mixin pseudo-underline($width, $height, $background-color, $margin) {
  &::after {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background-color: $background-color;
    margin: $margin auto;
  }
}

@mixin ui-element(
  $size,
  $color,
  $bg-color,
  $hover-color: $bg-color,
  $hover-bg-color: $color
) {
  padding: $size ($size * 3);
  color: $color;
  background-color: $bg-color;

  &:hover,
  &:focus {
    color: $hover-color;
    background-color: $hover-bg-color;
  }
}

body {
  font-family: system-ui;
  margin: 0;
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 10vh 0;
}

.title {
  @include pseudo-underline(5rem, 1px, black, 2rem);
}

.section-one {
  @include part-1-gradients(red, blue, 45deg);
}

.section-two {
  @include part-1-gradients($deg: -72deg, $clr1: purple, $clr2: limegreen);
}

.section-three {
  @include part-1-gradients($deg: 0deg, $clr1: orange, $clr2: yellow);
}

.button-one {
  @include ui-element(0.5em, white, black);
}

.button-two {
  @include ui-element(1em, yellow, #3b0f0f);
}

.badge-one {
  @include ui-element(0.5em, black, white, black, white);
}

.badge-two {
  @include ui-element(0.25em, #006eff, #0f0f1d, #0f0f1d, #006eff);
}
