@mixin gradients($deg: 30deg, $clr1: white, $clr2: black) {
  background-image: linear-gradient($deg, $clr1, $clr2);
}

@mixin pseudo-underline($width, $height, $background-color, $margin) {
  &::after {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background-color: $background-color;
    margin: $margin auto;
  }
}

@mixin ui-element(
  $size,
  $color,
  $bg-color,
  $hover-color: $color,
  $hover-bg-color: $bg-color
) {
  padding: $size ($size * 3);
  color: $color;
  background-color: $bg-color;

  &:hover,
  &:focus {
    color: $hover-color;
    background-color: $hover-bg-color;
  }
}

$clr-text-primary: white;
$dis-inline-block: inline-block;

body {
  font-family: system-ui;
  margin: 0;
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 10vh 0;
}

.title {
  @include pseudo-underline(5rem, 1px, black, 2rem);
}

.section-one {
  @include gradients(45deg, red, blue);
  color: $clr-text-primary;
}

.section-two {
  @include gradients($deg: -72deg, $clr1: purple, $clr2: limegreen);
  color: $clr-text-primary;
}

.section-three {
  @include gradients($deg: 0deg, $clr1: orange, $clr2: yellow);
}

.button-one {
  display: $dis-inline-block;
  @include ui-element(0.5em, white, black, black, white);
}

.button-two {
  display: $dis-inline-block;
  @include ui-element(1em, yellow, #3b0f0f, #3b0f0f, yellow);
}

.badge-one {
  display: $dis-inline-block;
  @include ui-element(0.5em, black, white);
}

.badge-two {
  display: $dis-inline-block;
  @include ui-element(0.25em, #006eff, #0f0f1d);
}

// interpolation example
$color-pink: pink;

.text-#{$color-pink} {
  color: $color-pink;
}
